h1 {
  font-family: "Fira Code", "Times New Roman", Times, serif;
  color: #b3ffa7;

  font-size: 40px;
  font-family: "Press Start 2P", "sans-serif";
  text-shadow: 5px 5px 0 #000;
}
h2 {
  font-size: 30px;
  font-family: "Press Start 2P", "sans-serif";
  text-shadow: 4px 4px 0 #000;

  color: #fff;
}
